{% load static %}
{% load scope_tags %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ESI Token Selection</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

        <style>
            .character-image{
                width: 110px;
                height: auto;
            }

            @media (min-width: 550px) {
                .character-image {
                    width: 175px;
                }
            }
            /* sm */
            @media (min-width: 768px) {
                .character-image {
                    width: 210px;
                }
                .sso-card{
                    width: auto;
                }
            }
        </style>
    </head>
    <body class="bg-dark">
        <div class="container-fluid mt-5">
            <h3 class="text-light font-weight-light text-center">Select Character</h3><br>
            <div class="mt-2">
                <div class="col-lg-10 offset-lg-1 col-md-12" style="padding-left: 0 !important; padding-right: 0 !important;">
                    <div class="card text-white bg-secondary">
                        <div class="card-header text-center">Scopes Requested</div>
                        <div class="card-body align-middle text-center">
                            {% for scope in scopes %}<span class="badge badge-dark">{{ scope|scope_friendly_name }}</span> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-lg-10 offset-lg-1 col-md-12 container" style="padding-left: 0 !important; padding-right: 0 !important;">
                <div class="d-flex flex-wrap justify-content-center">
                    {% if tokens|length > 14 %}
                        <form method="post">
                            <div class="card text-white bg-secondary m-2 sso-card">
                                <div class="card-header text-center">New Character</div>
                                <div class="card-body text-center  d-none d-sm-block">
                                    <input type="image" formmethod="post" class="ra-avatar img-responsive character-image rounded-lg"
                                        src="https://images.evetech.net/characters/1/portrait?size=256">
                                        </div>
                                <div class="card-footer">
                                        {% csrf_token %}
                                        <input type="hidden" name="_add" value="True">
                                        <a href="#" type="submit" class="m-1">
                                            <input type="image" name="go" src="{% static 'esi\img\EVE_SSO_Login_Buttons_Small_Black.png'%}"
                                                alt="Add Token">
                                        </a>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                    {% for token in tokens|dictsort:"character_name" %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="card text-white bg-secondary m-2 mw-50">
                                <div class="card-header text-center">{{ token.character_name }}</div>
                                <div class="card-body text-center ">
                                    <input type="image" formmethod="post" class="ra-avatar img-responsive character-image rounded-lg"
                                        src="https://images.evetech.net/characters/{{ token.character_id }}/portrait?size=256">
                                </div>
                                <div class="card-footer">
                                        <input type="hidden" name="_token" value="{{ token.pk }}">
                                        <button class="btn btn-success w-100" type="submit" title="Select" formmethod="post">
                                            Select
                                        </button>
                                </div>
                            </div>
                        </form>
                    {% endfor %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="card text-white bg-secondary m-2 sso-card">
                            <div class="card-header text-center">New Character</div>
                            <div class="card-body text-center  d-none d-sm-block">
                                <input type="image" formmethod="post" class="ra-avatar img-responsive character-image rounded-lg"
                                    src="https://images.evetech.net/characters/1/portrait?size=256">
                            </div>
                            <div class="card-footer">
                                    <input type="hidden" name="_add" value="True">
                                    <a href="#" type="submit" class="m-1">
                                        <input type="image" name="go" src="{% static 'esi\img\EVE_SSO_Login_Buttons_Small_Black.png'%}"
                                            alt="Add Token">
                                    </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
